.articles {
    width: 90%;
}

.article {
    background-color: white;
    max-width: 90%;
    border-radius: 4px;
    margin: 10px;
    padding: 30px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.art-title {
    margin: 15px;
    margin-left: 0;
    font-weight: 600;
}

.formula {
    text-align: center;
}