.value {
    min-height: 300px;
    max-width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    flex-wrap: wrap;
    margin: 5px;

    background-color: white;
    border-radius: 4px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}


.valueDescription {
    width: 700px;
    padding: 20px;
    padding: 10px;
}

.valueImg {
    width: 400px;
}

.imgValues {
    border-radius: 4px;
    height: 100%;
    width: 100%;
}