.container-slider {
    position: relative;
    height: calc(65% - 68px);
}

.img-slider {
    width: 100%;
    height: 100%;
}

.transparent {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.30);
}

.transparent h1 {
    text-align: center;
    color: white;
    text-shadow: black 1px 0 10px;
}

.transparent h2 {
    color: white;
    text-shadow: black 1px 0 10px;
}
